<h2 mat-dialog-title>{{ data.mission_name }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>Launch Year : {{ data.launch_year }}</h3>

  <h2>Rocket</h2>

  <h3>Name : {{ data.rocket.rocket_name }}</h3>
  <h3>Type : {{ data.rocket.rocket_type }}</h3>

  <h2>Launch site</h2>
  <h3>name : {{ data.launch_site.site_name_long }}</h3>

  <h2>launch details</h2>
  <p>
    {{ data.details }}
  </p>

  <mat-card-title>More Info On Launch Details</mat-card-title><br />
  <a href="{{ data.links.article_link }}">
    <mat-icon>assignment</mat-icon>
  </a>
  <a href="{{ data.links.wikipedia }}">
    <mat-icon>public</mat-icon>
  </a>
  <a href="{{ data.links.video_link }}">
    <mat-icon>videocam</mat-icon>
  </a>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
